#自定义替换

  url1='transfer.nz.lu'
  url2='Aaron-lv'
  url3='star261'
  url4='KingRan'
  url5='shufflewzc'
  url6='yuannian1112'
  url7='dongge'
  url8='zero205'
  url9='star267'
  url10='lsh26'
  url11='hz.zzf.red'
  